.game {
  position: relative;
  border: 1px black solid;
  height: 90vh;
}

.player {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 10px;
  background-color: black;
  border-radius: 5px;
}

.player-one {
  top: 10px;
}